{% extends "layout.html" %}

{% block script %}
<style>
    td, th {
        border: 0.5px solid #dfcdcd;
        text-align: center;
    }
    .table {        
        font-size: .75vw;
    }
    .table th{
        padding: 0%;
    }
    
</style>
{% endblock %}

{% block navbar %}
    
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        METHOD
        </a>  
    <div class="dropdown-menu">
        {% for method in methods %}
            <a class="dropdown-item" href="{{ url_for('processing_processing', filename=filename, method=method.method_id) }}">Method{{ loop.index }}</a>
        {% endfor %}
    </div>
    </li> 
       
{% endblock %}

{% block content %}
    
    <table class="table table-striped table-responsive-xl w-auto">
        <tr> 
            <th>Method ID</th>
            <th>Title</th>
            <th>Operation</th>
            <th>Result Contrast</th>
            <th>Result Brightness</th>
            <th>Result Intesity</th>
            <th>Original Contrast</th>
            <th>Original Brightness</th>
            <th>Original Intesity</th>
            <th>Copy Contrast</th>
            <th>Copy Brightness</th>
            <th>Copy Intesity</th>
            <th>Original Filter</th>
            <th>Original Kernal</th>
            <th>Copy Filter</th>
            <th>Copy Kernal</th>
            <th>Orgiginal Black Point</th>
            <th>Orgiginal Midetone Slider</th>
            <th>Orgiginal White Point</th>
            <th>Copy Black Point</th>
            <th>Copy Midetone Slider</th>
            <th>Copy White Point</th>
            <th>Result Black Point</th>
            <th>Result Midetone Slider</th>
            <th>Result White Point</th>
            <th>Active State</th>
        </tr>
    {% for method in methods %}        
        <tr>
            <td>{{ method.method_id }}</td>
            <td>{{ method.method_title }}</td>        
            <td>{{ method.image_operation }}</td>        
            <td>{{ method.result_contrast }}</td>        
            <td>{{ method.result_brightness }}</td>        
            <td>{{ method.result_intensity }}</td>        
            <td>{{ method.original_contrast }}</td>        
            <td>{{ method.original_brightness }}</td>        
            <td>{{ method.original_intensity }}</td>        
            <td>{{ method.copy_contrast }}</td>        
            <td>{{ method.copy_brightness }}</td>        
            <td>{{ method.copy_intensity }}</td>        
            <td>{{ method.original_filter }}</td>        
            <td>{{ method.original_kernal }}</td>        
            <td>{{ method.copy_filter }}</td>        
            <td>{{ method.copy_kernal }}</td>        
            <td>{{ method.original_black_point }}</td>        
            <td>{{ method.original_midetone_slider }}</td>        
            <td>{{ method.original_white_point }}</td>       
            <td>{{ method.copy_black_point }}</td>        
            <td>{{ method.copy_midetone_slider }}</td>        
            <td>{{ method.copy_white_point }}</td>                            
            <td>{{ method.result_black_point }}</td>        
            <td>{{ method.result_midetone_slider }}</td>        
            <td>{{ method.result_white_point }}</td>        
            <td>{{ method.active_state }}</td>        
        </tr>
    
    {% endfor %}
    </table>
    
{% endblock content %}