{% extends "layout.html" %}
{% block navbar %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Image Processing
        </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('processing', filename=filename, method=method1) }}">Convolution</a>
        <a class="dropdown-item" href="{{ url_for('processing', filename=filename, method=method2) }}">Averaging</a>
        <a class="dropdown-item" href="{{ url_for('processing', filename=filename, method=method3) }}">Gaussian Blur</a>
        <a class="dropdown-item" href="{{ url_for('processing', filename=filename, method=method4) }}">Median Blur</a>
        <a class="dropdown-item" href="{{ url_for('processing', filename=filename, method=method5) }}">Bilateral Blur</a>
    </div>            
    </li>     
{% endblock navbar %}

{% block content %}
   
    <center>
    <div class="card" style="width: 30rem;">
        <img class="img-rounded" src="{{ url_for('show', filename=filename) }}" alt="Image">
        <div class="card-body">
            <p class="card-text">You can apply a different filters using image processing icon on navigation bar.
                Click on a given link and check the result</p>
        </div>
    </div>
    </center>
{% endblock content %}