{% extends "layout.html" %}

{% block navbar %}
    
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
    METHOD
    </a>  
<div class="dropdown-menu">
    {% for method in methods  %}
        <a class="dropdown-item" href="{{ url_for('processing', filename=filename, method=method.method_id) }}">Method{{ loop.index }}</a>
    {% endfor %}
</div>
</li>    
{% endblock %}

{% block nav %}
    <li class="nav-item "><a class="nav-link" href="{{ url_for('load_chart', filename=filename, method=method, end_point='settings') }}">HISTOGRAM</a></li>
{% endblock %}

{% block content %} 
    <div class="container">
        <div class="row justify-content-md-center">
            <img id="image" src="{{ url_for('show_result', filename=filename) }}" height="{{ height }}" alt="Image">
        </div>        
    </div>
{% endblock content %}