{% extends "layout.html" %}

{% block histogram %}
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
    <!-- COPY/PASTE SCRIPT HERE -->
    {{ scripts|safe }}
    <style>
        .bk-root{
            margin: 0%;
            padding: 0%;
            
        }
    </style>
{% endblock histogram %}

{% block histo_body %}
    <div class="row">
        <div class="col">
            <!-- INSERT DIVS HERE -->
            {{ div|safe }}
        </div>
        
        <div class="col">   
            <p>Image</p>
            <img src="{{ url_for('show_result', filename=filename2) }}" 
                class="img-fluid" alt="Image" height="700" width="700">
        </div>
    </div>
{% endblock histo_body %}