<div id="content">
        {% extends "layout.html" %}

        {% block content %}

           <div class="d-flex justify-content-center">
                Loading...
           </div> 

        {% endblock content %}
    
        {% block ajax %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script>
                $(function () { 
                    $("#content").load("{{ url_for('load_chart', method=method, end_point=end_point) }}"); 
                });
            </script>
        {% endblock ajax %}
</div>