{% extends "layout.html" %}


{% block content %}
<script>
    function outputUpdateColor(color) {
        document.querySelector('#selected-color').value = color;
    }
    function outputUpdateBrightness(brightness) {
        document.querySelector('#selected-brightness').value = brightness;
    }
</script>
<center>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col">
                {{ form.method_id.label }}
                {{ form.method_id }}            
            </div>
            <div class="col">
                {{ form.image_operations.label }}
                {{ form.image_operations }}
            </div>
            <div class="col">
                {{ form.method_title.label }}
                {{ form.method_title }}
            </div>
            <div class="col">
                {{ form.active_state }}
                {{ form.active_state.label }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <img src="{{ url_for('demo', filename='cameraman.png') }}" 
                    class="img-fluid" alt="Image" height="150" width="150">
                </div>
                <div>
                    {{ form.original_color.label }} = <output 
                    for="original_color" id="selected-original_color">
                    {{ form.original_color.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.original_color(min=0, max=100, onchange="outputUpdateoriginal_color(value)") }}
                </div>
                <div>
                    {{ form.original_brightness.label }} = <output 
                    for="original_brightness" id="selected-original_brightness">
                    {{ form.original_brightness.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.original_brightness(min=0, max=100, onchange="outputUpdateoriginal_brightness(value)") }}
                </div>
                <div>
                    {{ form.original_intensity.label }} = <output 
                    for="original_intensity" id="selected-original_intensity">
                    {{ form.original_intensity.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.original_intensity(min=0, max=100, onchange="outputUpdateoriginal_brightness(value)") }}
                </div>
                <div>
                    {{ form.original_filter.label }}
                    {{ form.original_filter }}
                </div>
                <div>
                    {{ form.original_kernal.label }}
                    {{ form.original_kernal }}
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="{{ url_for('demo', filename='cameraman.png') }}" 
                    class="img-fluid" alt="Image" height="150" width="150">
                </div>
                <div>
                    {{ form.copy_color.label }} = <output 
                    for="copy_color" id="selected-copy_color">
                    {{ form.copy_color.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.copy_color(min=0, max=100, onchange="outputUpdatecopy_color(value)") }}
                </div>
                <div>
                    {{ form.copy_brightness.label }} = <output 
                    for="copy_brightness" id="selected-copy_brightness">
                    {{ form.copy_brightness.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.copy_brightness(min=0, max=100, onchange="outputUpdatecopy_brightness(value)") }}
                </div>
                <div>
                    {{ form.copy_intensity.label }} = <output 
                    for="copy_intensity" id="selected-copy_intensity">
                    {{ form.copy_intensity.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.copy_intensity(min=0, max=100, onchange="outputUpdatecopy_brightness(value)") }}
                </div>
                <div>
                    {{ form.copy_filter.label }}
                    {{ form.copy_filter }}
                </div>
                <div>
                    {{ form.copy_kernal.label }}
                    {{ form.copy_kernal }}
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="{{ url_for('demo', filename='cameraman.png') }}" 
                    class="img-fluid" alt="Image" height="150" width="150">
                </div>
                <div>
                    {{ form.result_color.label }} = <output 
                    for="result_color" id="selected-result_color">
                    {{ form.result_color.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.result_color(min=0, max=100, onchange="outputUpdateresult_color(value)") }}
                </div>
                <div>
                    {{ form.result_brightness.label }} = <output 
                    for="result_brightness" id="selected-result_brightness">
                    {{ form.result_brightness.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.result_brightness(min=0, max=100, onchange="outputUpdateresult_brightness(value)") }}
                </div>
                <div>
                    {{ form.result_intensity.label }} = <output 
                    for="result_intensity" id="selected-result_intensity">
                    {{ form.result_intensity.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.result_intensity(min=0, max=100, onchange="outputUpdateresult_brightness(value)") }}
                </div>                
                <div class="row">
                    {{ form.submit }}
                </div>
            </div>
        </div>        
    </form>
</center>       
    
{% endblock content %}
