{% extends "layout.html" %}


{% block content %}
<script>
    function outputUpdatecontrast(contrast) {
        document.querySelector('#selected-contrast').value = contrast;
    }
    function outputUpdateBrightness(brightness) {
        document.querySelector('#selected-brightness').value = brightness;
    }
</script>
<center>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col">
                {{ form.method_id.label }}
                {{ form.method_id }}            
            </div>
            <div class="col">
                {{ form.image_operation.label }}
                {{ form.image_operation }}
            </div>
            <div class="col">
                {{ form.method_title.label }}
                {{ form.method_title }}
            </div>
            <div class="col">
                {{ form.active_state }}
                {{ form.active_state.label }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <img src="{{ url_for('show_original_two', filename=filename_original_two) }}" 
                    class="img-fluid" alt="Image" height="150" width="150">
                </div>
                <div>
                    {{ form.original_contrast.label }} = <output 
                    for="original_contrast" id="selected-original_contrast">
                    {{ form.original_contrast.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.original_contrast(min=0, max=100, onchange="outputUpdateoriginal_contrast(value)") }}
                </div>
                <div>
                    {{ form.original_brightness.label }} = <output 
                    for="original_brightness" id="selected-original_brightness">
                    {{ form.original_brightness.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.original_brightness(min=0, max=100, onchange="outputUpdateoriginal_brightness(value)") }}
                </div>
                <div>
                    {{ form.original_intensity.label }} = <output 
                    for="original_intensity" id="selected-original_intensity">
                    {{ form.original_intensity.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.original_intensity(min=0, max=100, onchange="outputUpdateoriginal_brightness(value)") }}
                </div>
                <div>
                    {{ form.original_filter.label }}
                    {{ form.original_filter }}
                </div>
                <div>
                    {{ form.original_kernal.label }}
                    {{ form.original_kernal }}
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="{{ url_for('show_second', filename=filename_second) }}" 
                    class="img-fluid" alt="Image" height="150" width="150">
                </div>
                <div>
                    {{ form.copy_contrast.label }} = <output 
                    for="copy_contrast" id="selected-copy_contrast">
                    {{ form.copy_contrast.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.copy_contrast(min=0, max=100, onchange="outputUpdatecopy_contrast(value)") }}
                </div>
                <div>
                    {{ form.copy_brightness.label }} = <output 
                    for="copy_brightness" id="selected-copy_brightness">
                    {{ form.copy_brightness.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.copy_brightness(min=0, max=100, onchange="outputUpdatecopy_brightness(value)") }}
                </div>
                <div>
                    {{ form.copy_intensity.label }} = <output 
                    for="copy_intensity" id="selected-copy_intensity">
                    {{ form.copy_intensity.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.copy_intensity(min=0, max=100, onchange="outputUpdatecopy_brightness(value)") }}
                </div>
                <div>
                    {{ form.copy_filter.label }}
                    {{ form.copy_filter }}
                </div>
                <div>
                    {{ form.copy_kernal.label }}
                    {{ form.copy_kernal }}
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="{{ url_for('show_result', filename=filename_result) }}" 
                    class="img-fluid" alt="Image" height="150" width="150">
                </div>
                <div>
                    {{ form.result_contrast.label }} = <output 
                    for="result_contrast" id="selected-result_contrast">
                    {{ form.result_contrast.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.result_contrast(min=0, max=100, onchange="outputUpdateresult_contrast(value)") }}
                </div>
                <div>
                    {{ form.result_brightness.label }} = <output 
                    for="result_brightness" id="selected-result_brightness">
                    {{ form.result_brightness.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.result_brightness(min=0, max=100, onchange="outputUpdateresult_brightness(value)") }}
                </div>
                <div>
                    {{ form.result_intensity.label }} = <output 
                    for="result_intensity" id="selected-result_intensity">
                    {{ form.result_intensity.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.result_intensity(min=0, max=100, onchange="outputUpdateresult_brightness(value)") }}
                </div>                
                <div class="row">
                    {{ form.submit }}
                </div>
            </div>
        </div>        
    </form>
</center>       
    
{% endblock content %}
