{% extends "layout.html" %}


{% block script %}
    <script>
            function outputUpdateOriginalContrast(contrast) {
                document.querySelector('#original_contrast').value = contrast;
            }
            function outputUpdateOriginalBrightness(brightness) {
                document.querySelector('#original_brightness').value = brightness;
            }
            function outputUpdateOriginalIntensity(intensity) {
                document.querySelector('#original_intensity').value = intensity;
            }
            function outputUpdateCopyContrast(contrast) {
                document.querySelector('#copy_contrast').value = contrast;
            }
            function outputUpdateCopyBrightness(brightness) {
                document.querySelector('#copy_brightness').value = brightness;
            }
            function outputUpdateCopyIntensity(intensity) {
                document.querySelector('#copy_intensity').value = intensity;
            }
            function outputUpdateCopyResultContrast(contrast) {
                document.querySelector('#result_contrast').value = contrast;
            }
            function outputUpdateResultBrightness(brightness) {
                document.querySelector('#result_brightness').value = brightness;
            }
            function outputUpdateResultIntensity(intensity) {
                document.querySelector('#result_intensity').value = intensity;
            }
    </script>
{% endblock %} 

{% block content %}
<div class="container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col">
                {{ form.method_id.label }}
                {{ form.method_id }}            
            </div>
            <div class="col">
                {{ form.image_operation.label }}
                {{ form.image_operation }}
            </div>
            <div class="col">
                {{ form.method_title.label }}
                {{ form.method_title }}
            </div>
            <div class="col">
                {{ form.active_state }}
                {{ form.active_state.label }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <img src="{{ url_for('show_original_two', filename=file_name[0]) }}" 
                    class="img-fluid" alt="Image" height="150" width="150">
                </div>
                <div>
                    {{ form.original_contrast.label }} = <output 
                    for="original_contrast" id="original_contrast">
                    {{ form.original_contrast.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.original_contrast(min=0, max=100, onchange="outputUpdateOriginalContrast(value)") }}
                </div>
                <div>
                    {{ form.original_brightness.label }} = <output 
                    for="original_brightness" id="original_brightness">
                    {{ form.original_brightness.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.original_brightness(min=0, max=100, onchange="outputUpdateOriginalBrightness(value)") }}
                </div>
                <div>
                    {{ form.original_intensity.label }} = <output 
                    for="original_intensity" id="original_intensity">
                    {{ form.original_intensity.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.original_intensity(min=0, max=100, onchange="outputUpdateOriginalIntensity(value)") }}
                </div>
                <div>
                    {{ form.original_filter.label }}
                    {{ form.original_filter }}
                </div>
                <div>
                    {{ form.original_kernal.label }}
                    {{ form.original_kernal }}
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="{{ url_for('show_second', filename=file_name[1]) }}" 
                    class="img-fluid" alt="Image" height="150" width="150">
                </div>
                <div>
                    {{ form.copy_contrast.label }} = <output 
                    for="copy_contrast" id="copy_contrast">
                    {{ form.copy_contrast.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.copy_contrast(min=0, max=100, onchange="outputUpdateCopyContrast(value)") }}
                </div>
                <div>
                    {{ form.copy_brightness.label }} = <output 
                    for="copy_brightness" id="copy_brightness">
                    {{ form.copy_brightness.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.copy_brightness(min=0, max=100, onchange="outputUpdateCopyBrightness(value)") }}
                </div>
                <div>
                    {{ form.copy_intensity.label }} = <output 
                    for="copy_intensity" id="copy_intensity">
                    {{ form.copy_intensity.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.copy_intensity(min=0, max=100, onchange="outputUpdateCopyIntensity(value)") }}
                </div>
                <div>
                    {{ form.copy_filter.label }}
                    {{ form.copy_filter }}
                </div>
                <div>
                    {{ form.copy_kernal.label }}
                    {{ form.copy_kernal }}
                </div>
            </div>
            <div class="col">
                <div>
                    <img src="{{ url_for('show_result', filename=file_name[-1]) }}" 
                    class="img-fluid" alt="Image" height="150" width="150">
                </div>
                <div>
                    {{ form.result_contrast.label }} = <output 
                    for="result_contrast" id="result_contrast">
                    {{ form.result_contrast.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.result_contrast(min=0, max=100, onchange="outputUpdateCopyResultContrast(value)") }}
                </div>
                <div>
                    {{ form.result_brightness.label }} = <output 
                    for="result_brightness" id="result_brightness">
                    {{ form.result_brightness.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.result_brightness(min=0, max=100, onchange="outputUpdateResultBrightness(value)") }}
                </div>
                <div>
                    {{ form.result_intensity.label }} = <output 
                    for="result_intensity" id="result_intensity">
                    {{ form.result_intensity.data }}</output>
                </div>
                <div class="range"> 
                    {{ form.result_intensity(min=0, max=100, onchange="outputUpdateResultIntensity(value)") }}
                </div>                
                <div class="row">
                    {{ form.submit }}
                </div>
                <div class="row">
                    <p>To load histogram and level adjustment panel click on given link.
                    <a href="{{ url_for('load_chart', filename=filename, method=method, end_point='settings') }}">Load Histogram</a></p>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
    

