{% extends "layout.html" %}

{% block navbar %}
    <!-- Brand -->
    <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>   
{% endblock navbar %}

{% block content %}    
    <div class="container">
        <h2>Upload Image Here</h2>
        <form action="{{ url_for('display_image')}}" method = 'POST' enctype="multipart/form-data">          
            <div class="form-group">
                <input type="file" class="form-control-file" id="exampleFormControlFile1" \
                name='image' accept="image/*" multiple>
            </div>
            <button type="submit" class="btn btn-outline-info">Submit</button>
        </form>
    </div>
{% endblock content %}