{% extends "layout.html" %}

{% block script %}
    <style>
        .upload {
            position: inherit;
            margin: 150px !important;
            padding: 150px !important;
        }
    </style>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">    
    <div class="card col-4 ">
        <div class="card-header">
            <h2>Upload Image Here</h2>
        </div>
        <div class="card-body">
            <form action="{{ url_for('display_image')}}" method = 'POST' enctype="multipart/form-data">          
                <div class="form-group">
                    <input type="file" class="form-control-file" id="exampleFormControlFile1" \
                    name='image' accept="image/*" multiple>
                </div>
                <button type="submit" class="btn btn-outline-info">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}